<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Dcocs</a></li>
		        	<li><a href="/about">Docs 3</a></li>
	        		<li><a href="/cv">Docs 4</a></li>
	        		<li><a href="/blog">Docs 5</a></li>
	        			<li><a href="/">Docs 6</a></li>
		        	<li><a href="/about">Docs 7</a></li>
	        		<li><a href="/cv">Docs 8</a></li>
	        		<li><a href="/blog">Docs 9</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>
